extends layout

block content
  div.container
    h3(style="text-align:center")=title
    header.el-typo-title
      a(href="/tag/"+cate+'/1' title="类别")
        div.el-chip
          span.el-chip-icon #{ cate.substr(0, 1)}
          span.el-chip-title #{ cate }
      span(title='编辑')
        div.el-chip
          img.el-chip-icon(src='https://www.qiatia.cn/images/user/ACG58_5b1fcf4ed3621.jpg' )
          span.el-chip-title #{ title.substr(1, 3) }
      span( title= time)
        div.el-chip
          span.el-chip-icon.icon &#xe64d;
          span.el-chip-title #{ time }
    div.typo.article-entry !{content}
